* {
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: rgb(255, 240, 155);
}

#nav-list {
    background-color: lightblue;
    margin-bottom: 0px;
}

#content {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#chicken, #sushi, #beef {
    background-color: rgb(157, 157, 157);
    margin-bottom: 20px;
}

#title {
    height: 80px;
    font-weight: bold;
}

#item-title {
    font-weight: bold;
}

#item-description {
    font-size: 1.2em;
}

#nav-list hr {
    width: 100%;
    margin: 0px auto 0px;
}

/* .nav-dropdown {
    background-color: rgb(172, 206, 121);
} */